<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>Dashboard - TeamCollab</title>
</head>
<body>
<div layout:fragment="content">

    <div class="grid grid-cols-1 items-start gap-4 lg:grid-cols-3 lg:gap-8">
        <!-- Left column -->
        <div class="grid grid-cols-1 gap-1">
            <section aria-labelledby="section-2-title">
                <h2 class="sr-only" id="section-2-title">Section title</h2>
                <div class="overflow-hidden rounded-lg bg-white shadow-sm">
                    <div>
                        <!-- Your content -->
                        <div class="flex grow flex-col gap-y-5 overflow-y-auto  bg-white px-6">

                            <nav class="flex flex-1 flex-col">
                                <ul role="list" class="flex flex-1 flex-col gap-y-7">
                                    <li>
                                        <ul role="list" class="-mx-2 space-y-1">
                                            <li>
                                                <a href="#" class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-700 hover:bg-indigo-700 hover:text-white">
                                                    <svg class="size-6 shrink-0 text-gray-700 group-hover:text-white"
                                                         fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                                         stroke="currentColor" aria-hidden="true">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                              d="M17.25 9.75V7.5A2.25 2.25 0 0 0 15 5.25H6.75A2.25 2.25 0 0 0 4.5 7.5v9A2.25 2.25 0 0 0 6.75 18.75H15a2.25 2.25 0 0 0 2.25-2.25v-2.25M17.25 9.75l-3 3m3-3 3 3"/>
                                                    </svg>
                                                    Meeting Notes
                                                    <span class="ml-auto w-9 min-w-max rounded-full bg-indigo-600 px-2.5 py-0.5 text-center text-xs/5 font-medium whitespace-nowrap text-white ring-1 ring-indigo-500 ring-inset" aria-hidden="true">10</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-700 hover:bg-indigo-700 hover:text-white">
                                                    <svg class="size-6 shrink-0 text-gray-700 group-hover:text-white"
                                                         fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                                         stroke="currentColor" aria-hidden="true">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                              d="M10.5 6.75h5.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H8.25A2.25 2.25 0 0 1 6 18v-9a2.25 2.25 0 0 1 2.25-2.25h.75m1.5 0V4.875a.375.375 0 0 1 .375-.375h1.5a.375.375 0 0 1 .375.375V6.75m-3 0h3"/>
                                                    </svg>
                                                    Tasks
                                                    <span class="ml-auto w-9 min-w-max rounded-full bg-indigo-600 px-2.5 py-0.5 text-center text-xs/5 font-medium whitespace-nowrap text-white ring-1 ring-indigo-500 ring-inset" aria-hidden="true">0</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="text-xs/6 font-semibold text-gray-700">Your teams</div>
                                        <ul role="list" class="-mx-2 mt-2 space-y-1">
                                            <li>
                                                <!-- Current: "bg-indigo-700 text-white", Default: "text-indigo-200 hover:text-white hover:bg-indigo-700" -->
                                                <a href="#" class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-700 hover:bg-indigo-700 hover:text-white">
                                                    <span class="flex size-6 shrink-0 items-center justify-center rounded-lg border border-indigo-400 bg-indigo-500 text-[0.625rem] font-medium text-white">H</span>
                                                    <span class="truncate">Heroicons</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-700 hover:bg-indigo-700 hover:text-white">
                                                    <span class="flex size-6 shrink-0 items-center justify-center rounded-lg border border-indigo-400 bg-indigo-500 text-[0.625rem] font-medium text-white">T</span>
                                                    <span class="truncate">Tailwind Labs</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-700 hover:bg-indigo-700 hover:text-white">
                                                    <span class="flex size-6 shrink-0 items-center justify-center rounded-lg border border-indigo-400 bg-indigo-500 text-[0.625rem] font-medium text-white">W</span>
                                                    <span class="truncate">Workcation</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </section>
        </div>

        <!-- Right column -->
        <div class="grid grid-cols-1 gap-2 lg:col-span-2">
            <section aria-labelledby="section-1-title">
                <h2 class="sr-only" id="section-1-title">Section title</h2>
                <div class="overflow-hidden rounded-lg bg-gray-100 shadow-sm">
                    <div class="p-1">
                        <!-- Your content -->
                        <div>
                            <h3 class="text-base font-semibold text-gray-900">Last 30 days</h3>
                            <dl class="mt-5 grid grid-cols-1 divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm md:grid-cols-3 md:divide-x md:divide-y-0">
                                <div class="px-4 py-5 sm:p-6">
                                    <dt class="text-base font-normal text-gray-900">Total Projects</dt>
                                    <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
                                        <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
                                            2
                                        </div>

                                        <div class="inline-flex items-baseline rounded-full bg-green-100 px-2.5 py-0.5 text-sm font-medium text-green-800 md:mt-2 lg:mt-0">
                                            <svg class="mr-0.5 -ml-1 size-5 shrink-0 self-center text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                                <path fill-rule="evenodd" d="M10 17a.75.75 0 0 1-.75-.75V5.612L5.29 9.77a.75.75 0 0 1-1.08-1.04l5.25-5.5a.75.75 0 0 1 1.08 0l5.25 5.5a.75.75 0 1 1-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0 1 10 17Z" clip-rule="evenodd" />
                                            </svg>
                                            <span class="sr-only"> Increased by </span>
                                            12%
                                        </div>
                                    </dd>
                                </div>
                                <div class="px-4 py-5 sm:p-6">
                                    <dt class="text-base font-normal text-gray-900">Total Conversations</dt>
                                    <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
                                        <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
                                            6
                                        </div>

                                        <div class="inline-flex items-baseline rounded-full bg-green-100 px-2.5 py-0.5 text-sm font-medium text-green-800 md:mt-2 lg:mt-0">
                                            <svg class="mr-0.5 -ml-1 size-5 shrink-0 self-center text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                                <path fill-rule="evenodd" d="M10 17a.75.75 0 0 1-.75-.75V5.612L5.29 9.77a.75.75 0 0 1-1.08-1.04l5.25-5.5a.75.75 0 0 1 1.08 0l5.25 5.5a.75.75 0 1 1-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0 1 10 17Z" clip-rule="evenodd" />
                                            </svg>
                                            <span class="sr-only"> Increased by </span>
                                            2.02%
                                        </div>
                                    </dd>
                                </div>
                                <div class="px-4 py-5 sm:p-6">
                                    <dt class="text-base font-normal text-gray-900">Total Messages</dt>
                                    <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
                                        <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
                                            12,320
                                        </div>

                                        <div class="inline-flex items-baseline rounded-full bg-red-100 px-2.5 py-0.5 text-sm font-medium text-red-800 md:mt-2 lg:mt-0">
                                            <svg class="mr-0.5 -ml-1 size-5 shrink-0 self-center text-red-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                                                <path fill-rule="evenodd" d="M10 3a.75.75 0 0 1 .75.75v10.638l3.96-4.158a.75.75 0 1 1 1.08 1.04l-5.25 5.5a.75.75 0 0 1-1.08 0l-5.25-5.5a.75.75 0 1 1 1.08-1.04l3.96 4.158V3.75A.75.75 0 0 1 10 3Z" clip-rule="evenodd" />
                                            </svg>
                                            <span class="sr-only"> Decreased by </span>
                                            4.05%
                                        </div>
                                    </dd>
                                </div>
                            </dl>
                        </div>

                    </div>
                </div>
            </section>
        </div>

    </div>

</div>
</body>
</html>