<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>Companies List</title>
</head>
<body>
<div layout:fragment="content" class="py-10">
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-base font-semibold leading-6 text-gray-900">Companies</h1>
                <p class="mt-2 text-sm text-gray-700">A list of all companies in the system.</p>
            </div>
        </div>
        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead>
                        <tr>
                            <th scope="col"
                                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Name
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Created
                                At
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Users
                                Count
                            </th>
                            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                                <span class="sr-only">View Metrics</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                        <tr th:each="company : ${companies}">
                            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-blue-900 sm:pl-0">
                                <a th:href="@{/system/admin/companies/{id}/settings(id=${company.id})}" class="text-blue-900 hover:text-indigo-600" th:text="${company.name}">Company Name</a>
                            </td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                                th:text="${#temporals.format(company.createdAt, 'yyyy-MM-dd')}">2024-01-01
                            </td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                                th:text="${company.users.size()}">0
                            </td>
                            <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                                <a th:href="@{/metrics/company/{id}/costs(id=${company.id})}"
                                   class="text-indigo-600 hover:text-indigo-900 mr-4">
                                    <i class="fa fa-chart-bar mr-2" aria-hidden="true"></i>
                                    View Metrics
                                    <span class="sr-only">, <span th:text="${company.name}">Company name</span></span>
                                </a>
                                <a th:href="@{/system/admin/companies/{id}/settings(id=${company.id})}"
                                   class="text-indigo-600 hover:text-indigo-900">
                                    <i class="fa fa-cog mr-2" aria-hidden="true"></i>
                                    Settings
                                    <span class="sr-only">, <span th:text="${company.name}">Company name</span></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
