<turbo-frame id="personasList">
    <th:inline th:each="persona : ${personas}">
        <a data-turbo="true" data-turbo-method="post" th:id="'persona_' + ${persona.id} + '_row'"
           th:href="@{/personas/{personaId}/conversations/{id}(id=${conversationId},personaId=${persona.id})}"
           class="p-3 hover:bg-gray-100 rounded-lg cursor-pointer transition-colors duration-200 flex items-center justify-between">
            <div class="flex items-center gap-3">
                <div class="w-10 h-10 rounded-full bg-blue-500 flex items-center justify-center text-white font-semibold text-lg">
                </div>
                <div class="flex justify-between">
                    <div>
                        <h4 class="font-medium" th:text="${persona.name}"></h4>
                        <p class="text-sm text-gray-600" th:text="${persona.expertise}"></p>
                    </div>
                </div>
            </div>
        </a>
    </th:inline>
</turbo-frame>